.button{
    position: fixed;
    min-width:80px;
    overflow: hidden;
    min-height: 10px;
    background-color: #44474c;
    color: #c9cfd8;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 2px;
    -webkit-transition: background 1s ease, border-color 1s ease;
    -moz-transition: background 1s ease, border-color 1s ease;
    transition: background 1s ease, border-color 1s ease;
}
.button:hover {
    background-color: #c9cfd8;
    color: #44474c;
    border-color: #919499;
}